%h3 プロフィール設定

.space-bottom-half
  ログインに使用する「メールアドレス」と「パスワード」の変更が可能です。

%table.table
  %tr
    %th
      メールアドレス
  %tr
    %td
      = @user.email

.text-center
  = link_to edit_user_registration_path, class: "btn btn-normal" do
    %i{class: 'fa fa-refresh space-half'}
    プロフィール設定の更新

%h3 カテゴリー設定

.space-bottom-half
  カテゴリーの編集は、各カテゴリーの右にある鉛筆アイコンをクリック。
  カテゴリーの削除は、各カテゴリーの右にあるゴミ箱アイコンをクリック。
  カテゴリーの追加は、下にある追加ボタンを押してください。

%table.table
  %tr
    %th
      支出名
    %th
      定期出費
    %th
      予算
    %th.transparent.icon
      = ""
    %th.transparent.icon
      = ""
  - @categories.each do |category|
    - if category.is_payment == true
      %tr
        %td
          = category.name
        %td
          %i{ :class => convert_boolean(category.monthly)}
        %td
          = category.budget
        %td
          = link_to content_tag(:i, '', class: 'fa fa-pencil'), edit_category_path(category)
        %td
          = link_to content_tag(:i, '', class: 'fa fa-remove'), category, :method => :delete, :data => { :confirm => "#{category.name}を削除しますがよろしいですか？"  }

%table.table
  %tr
    %th
      収入名
    %th
      定期出費
    %th
      予算
    %th.transparent.icon
      = ""
    %th.transparent.icon
      = ""
  - @categories.each do |category|
    - if category.is_payment == false
      %tr
        %td
          = category.name
        %td
          %i{ :class => convert_boolean(category.monthly)}
        %td
          = category.budget
        %td
          = link_to content_tag(:i, '', class: 'fa fa-pencil'), edit_category_path(category)
        %td
          = link_to content_tag(:i, '', class: 'fa fa-remove'), category, :method => :delete, :data => { :confirm => "#{category.name}を削除しますがよろしいですか？"  }

.text-center
  = link_to new_category_path, class: "btn btn-normal" do
    %i{class: 'fa fa-plus space-half'}
    カテゴリーの追加
