= form_for @record do |f|
  - if @record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
      %ul
        - @record.errors.full_messages.each do |msg|
          %li= msg

  .small
    (*) 必須
  .field
    %strong
      金額(*)
    %br/
    = f.number_field :payment
  .field
    %strong
      日時
    %br/
    = f.date_select :date
  .field
    %strong
      カテゴリー(*)
    %br/
    = collection_select(:record, :category_id, @own_categories, :id, :name)
  .field
    %strong
      クレジットカード(*)
    %br/
    = f.check_box :card
  .field
    %strong
      メモ
    %br/
    = f.text_area :memo
  .field
    = f.hidden_field :user_id, value: current_user.id
  .actions
    = f.submit 'Save'
