%h1 一括登録

%p
  同内容の登録レコードを一括で登録します。
  %br/
  ※一括で登録できるのは日付違いのみです

%h2 登録数の選択

.dropdown
  %button#dropdownMenu2.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    登録数を選択して下さい
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu2"}
    - today = Date.today
    - (1..12).each do |number|
      %li
        = link_to "#{number}", controller: "records", action: "bulk", number: number

%h2 内容の登録

= form_tag('/records/bulk_create', method: "post") do

  .small
    (*) 必須
  .field
    %strong
      金額(*)
    %br/
    = number_field_tag "bulk[money]", id: "bulk_money"
  %strong
    日時
  - params[:number].to_i.times do |n|
    .field
      %br/
      = date_select "bulk[date#{n}]", 'd'
  .field
    %strong
      カテゴリー(*)
    %br/
    = collection_select "bulk", "category_id", @own_categories, :id, :name
  .field
    %strong
      クレジットカード(*)
    %br/
    = check_box "bulk", "card"
  .field
    %strong
      メモ
    %br/
    = text_area_tag "bulk[memo]"
  .field
    = hidden_field_tag "bulk[user_id]", current_user.id
  .field
    = hidden_field_tag "bulk[number]", params[:number]
  .actions
    = submit_tag '保存'

= link_to 'Back', records_path
