%h1 登録一覧

%table.table.table-condensed
  %thead
    %tr
      %th 金額
      %th 日付
      %th 種類
      %th カード
      %th
      %th

  %tbody
    - @own_records.each do |record|
      %tr
        %td= link_to "￥ #{record.payment}", record
        %td= record.date
        %td= record.category.name
        %td
          %i{:class => RecordsHelper.convert_boolean_to_mark(record.card) }
        %td= link_to content_tag(:i, '', class: 'fa fa-pencil-square'), edit_record_path(record)
        %td= link_to content_tag(:i, '', class: 'fa fa-trash'), record, :method => :delete, :data => { :confirm => '削除します、よろしいですか?' }

%br

= link_to 'New Record', new_record_path
