= form_for @salary, :class => "form-horizontal" do |f|
  - if @salary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@salary.errors.count, "error")} prohibited this salary from being saved:"
      %ul
        - @salary.errors.full_messages.each do |msg|
          %li= msg

  .field.space-bottom-half
    年度
    = f.number_field :year

  .field.space-bottom-half
    月収
    = f.number_field :money

  .field.space-bottom-half
    使用する
    = f.check_box :enable

  .field.space-bottom-half
    = f.hidden_field :user_id, value: current_user.id
  .actions
    = f.submit 'Save'
