%h1 Listing salaries

%table
  %thead
    %tr
      %th Year
      %th Money
      %th User
      %th
      %th
      %th

  %tbody
    - @salaries.each do |salary|
      %tr
        %td= salary.year
        %td= salary.money
        %td= salary.user_id
        %td= link_to 'Show', salary
        %td= link_to 'Edit', edit_salary_path(salary)
        %td= link_to 'Destroy', salary, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Salary', new_salary_path
