%h2 SUMMARY: 集計

%h3
  今月の集計
%table.table
  %tr
    %th 使ったお金
    %th 残りのお金
    %th カードの支払
  %tr
    %td.odd
      = number_to_currency(@payments.sum(:money))
    %td.odd
      = ""
    %td.odd
      = number_to_currency(@card_sum)

%h3
  カテゴリー別
%table.table
  %tr
    %th カテゴリー
    %th 支払
    %th 予算差引額
  - @categories.each do |category|
    - category_sum = @month_records.where(category: category).sum(:money)
    %tr
      - even_odd = cycle("even", "odd")
      %td{ class: even_odd}
        = category.name
      %td{ class: even_odd}
        = number_to_currency(category_sum)
      %td{ class: even_odd}
        = number_to_currency(category.budget - category_sum)
