%h1 集計

.dropdown
  %button#dropdownMenu2.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    月を選択
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu2"}
    %li
      = link_to "今月", summary_path
    %li.divider{:role => "separator"}
    - today = Date.today
    - (-4...5).each do |i|
      - date = today << -i
      %li
        = link_to "#{date.year}/#{date.month}", controller: "summary", action: "show", year: date.year, month: date.month

%h2 全出費
%table.table.table-condensed
  %tr
    %th
      今月の出費
    %td
      ￥
      = @sum

%h2
  残額
%p
  ￥
  = @salary.money - @sum

%h2 今月のカテゴリー別
%table.table.table-condensed
  %tr
    %th カテゴリー
    %th 支払
    %th 予算差引額
  - @records_this_month_for_category.each do |category_id, payment|
    %tr
      %td
        = @categories.find_by_id(category_id).name
      %td
        ￥
        = payment
      %td
        ￥
        = @categories.find_by_id(category_id).budget - payment

%h2 クレジットカード
%table.table.table-condensed
  %tr
    %th
      クレジットカード
    %td
      ￥
      = @card_this_month
