%h2 SUMMARY: 集計

/ .dropdown
/   %button#dropdownMenu2.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
/     月を選択
/     %span.caret
/   %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu2"}
/     %li
/       = link_to "今月", summary_path
/     %li.divider{:role => "separator"}
/     - today = Date.today
/     - (-4...5).each do |i|
/       - date = today << -i
/       %li
/         = link_to "#{date.year}/#{date.month}", controller: "summary", action: "show", year: date.year, month: date.month

%h3
  今月の集計
%table.table
  %tr
    %th 使ったお金
    %th 残りのお金
    %th カードの支払
  %tr
    %td.odd
      = number_to_currency(@sum)
    %td.odd
      = number_to_currency(@salary.money - @sum)
    %td.odd
      = number_to_currency(@card_this_month)

%h3
  カテゴリー別
%table.table
  %tr
    %th カテゴリー
    %th 支払
    %th 予算差引額
  - @categories.each do |category|
    %tr
      - even_odd = cycle("even", "odd")
      %td{ class: even_odd}
        = category.name
      %td{ class: even_odd}
        = number_to_currency(0)
      %td{ class: even_odd}
        = number_to_currency(0)
