%h1 カテゴリーの編集

%table
  %thead
    %tr
      %th カテゴリー名
      %th 毎月
      %th 予算袋
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.monthly
        %td= category.budget
        %td= link_to 'Show', category
        %td= link_to 'Edit', edit_category_path(category)
        %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_category_path
