!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tucho
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav.navbar-inverse.navbar-static-top
        %div.container
          %ul.nav.navbar-nav
            %li
              = link_to content_tag(:i, ' HOME', class: 'fa fa-home'), root_path
          %ul.nav.navbar-nav.navbar-right
            / user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド
            - if user_signed_in?
              / current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド
              /
                *_path はUserモデルを作成したときに、
                deviseにより自動で作成されてますので、rake routesで確認できます
                Logged in as
                = succeed "." do
                  %strong= current_user.email
                = link_to 'プロフィール変更', edit_user_registration_path
                |
              %li
                %span.fa.fa-group
                  = link_to "LOGOUT", destroy_user_session_path, method: :delete
            - else
              %li
                = link_to content_tag(:i, ' SIGNUP', class: 'fa fa-chevron-right'), new_user_registration_path
              %li
                = link_to content_tag(:i, ' LOGIN', class: 'fa fa-chevron-right'), new_user_session_path
    %div.jumbotron
      %div.container
        %h1
          TUCHO
        %p
          This is Managed Passbook.
    %div.container
      %p.notice= notice
      %p.alert= alert
      = yield

