!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name =>"viewport", :content => "width=device-width", 'initial-scale' => 1}
    %title Cycl - こんどこそお金をしっかり管理
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  - bgimg = user_signed_in? ? 'login' : 'welcome'
  %body{ class: bgimg }
    .wrapper
      - if notice
        %p#notice
          = "お知らせ: #{notice}"
      %header
        - if user_signed_in?
          .container
            = render partial: 'layouts/title'
            = render partial: 'layouts/global_menu'
            = yield
            = render partial: 'layouts/menuspace'
        - else
          .welcome_container
            = yield